<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7a4e4">  <td>16/08/21 18:03:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Engine.testFirefox()[pri:0, instance:wd.edu.core.Engine@77caeb3e]">testFirefox</td> 
  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>16/08/21 18:03:13</td>   <td>9858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Engine.testFirefox1()[pri:0, instance:wd.edu.core.Engine@77caeb3e]">testFirefox1</td> 
  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>16/08/21 18:03:22</td>   <td>18525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Engine.testFirefox2()[pri:0, instance:wd.edu.core.Engine@77caeb3e]">testFirefox2</td> 
  <td>main@112061925</td>   <td></td> </tr>
</table>
